
@{
    ViewBag.Title = "Produtos";
}

<h2>Gestão de Produtos - Escolha um opção</h2>


<ul>
    <li>@Html.ActionLink("Cadastro de Produtos", "Incluir", "Produtos")</li>
    <li>@Html.ActionLink("Lista de Produtos", "Listar", "Produtos")</li>
</ul>

